body {
    color:white;
    background-color:#292C36;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

header, footer {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 10%;
    padding-left: 10%;
    background-color: #3A3E49;
}

header a, footer a {
    text-decoration: none;
    margin: 0%;
    color: white;
    font-size: 150%;
}

header a:hover, footer a:hover {
    color: #BC7819;
}

main {
    margin-top: 60px;
    margin-bottom: 60px;
    /* margin-left: 10%;
    margin-right: 10%; */
}

main h1 {
    text-align: center;
    margin-bottom: 60px;
}

main h3 {
    margin-top: 40px;
    margin-bottom: 20px;
}

#docs {
    margin-left: 10%;
    margin-right: 10%;
}

#docs div p, #docs div code {
    margin-left: 50px;
}

#linventif div {
    background-size: 1500px;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#linventif h*, #linventif p {
    color: white;
    text-align: center;
    margin: 0%;
}

#interogation {
    background-image: url("../image/interogation.png");
}

#discord {
    background-image: url("../image/discord.png");
}

#gmod {
    background-image: url("../image/gmod.png");
}

#brain {
    background-image: url("../image/brain.png");
}
/* 
#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
} */

.element {
    background-color: #3A3E49;
    width: 384px;
    height: 384px;
}

/* 
.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.element {
    width: 384px;
    height: 384px; 
    background-color: #3A3E49;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */